<div class="quick-view-wrap pro_btn">  
  <a href="javascript:void(0)" data-id="{{ product.handle }}" class="quick-view-text for-home btn">
    <i class="mdi mdi-cached"></i>
    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100.000000pt" height="71.000000pt" viewBox="0 0 100.000000 71.000000" preserveAspectRatio="xMidYMid meet">
      <g transform="translate(0.000000,71.000000) scale(0.100000,-0.100000)" stroke="none">
        <path d="M376 694 c-134 -32 -278 -146 -345 -273 l-34 -65 34 -65 c42 -83 144
                 -185 225 -228 154 -82 334 -82 488 0 80 42 182 145 225 226 l34 65 -34 65
                 c-42 83 -144 185 -225 228 -112 60 -245 77 -368 47z m307 -122 c74 -34 167
                 -120 201 -184 l18 -36 -37 -56 c-48 -72 -104 -121 -185 -160 -61 -29 -72 -31
                 -180 -31 -108 0 -119 2 -180 31 -81 39 -137 88 -185 160 l-37 56 18 36 c27 51
                 122 145 174 172 81 42 120 50 225 47 89 -2 108 -6 168 -35z"/>
        <path d="M455 486 c-54 -23 -85 -70 -85 -128 0 -86 49 -138 130 -138 81 0 130
                 52 130 138 0 59 -32 105 -87 128 -39 17 -50 17 -88 0z"/>
      </g>
    </svg>
    <span class="tooltip-label">{{ 'products.quickveiw.quickveiw' | t }}</span></a>
</div>